@media (min-width: 576px){
    .modal-dialog {
        max-width: 444px;
    }  
    .modal-content {
        padding: 1rem;
    }
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.delimiter {
    padding: 1rem;  
}

#sec-account .card-img-top {
    padding-top: 100%;
    max-width: 128px;
    max-height: 128px;
    border-radius: 3rem;
}

#sec-account .card-header {
    background-image: url('/static/img/user-profile-background.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; 
    background-size: cover; */
}

#profile-card {
    width: 35%;
    min-width: 300px;
}

.progress {
    margin-top: 4px;
    width: 40%;
}

#sec-account .card-body p {
    width: 40%;
    min-width: 120px;
}

#sec-account .card-body .badge {
    margin-top: 4px;    
    margin-right: 15px;
    height: 16px;
}

#username-error-message, #password-error-message {
    font-size: 0.75rem;
    color: red;
}

.form-group-customized {
    margin-bottom: 0px;
}

#enroll-buttons button {
    width: 100%;
    margin-top: 2px;
}
