#word-board { 
    height: 80px;
    margin: auto;
    margin-bottom: 25px;
    overflow: hidden;
}

.bubbles {
    position: relative;
}

.bubbles span {
    position: relative;
    font-family: 'Bubblegum Sans';
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
}

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
}

#typing-area {
    width: 40%;
    margin: auto;
    margin-bottom: 25px;
}

#controllers {
    margin: auto;
    margin-bottom: 30px;
    max-width: 480px;
}

#controllers > div {
    padding-left: 0px;
    padding-right: 0px;
}

#controllers > div > div {
    width: 100%;
    max-width: 125px;
}

#controllers button  {
    margin: 5px;
    width: 100%;
    max-width: 115px;
}

.corrected {
    color: green!important;
}

.incorrected {
    color:red!important;
}

.word {
    margin: 5px;
    display: inline-flex;
    color: white;
}

.active-word {
    /* background-color: #DCDCDC; */
    border-color: #DCDCDC;
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
    padding: 2px;
}

#summary {
    max-width: 30%;
    margin: auto;
    border-radius: 0;
    min-width: 300px;
}

#lineChart canvas{
    max-height: 250px;
    max-width: 100%;
}

.active {
    background-color: lightgray;
}