<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/shopping.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bubblegum+Sans" />
    <script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="static/js/canvasjs.min.js"></script>
    <title>Typing Battle</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" onclick="window.location.reload()"><i class="fas fa-keyboard mr-2 fa-lg"></i>Typing Battle<i class="far fa-keyboard ml-2 fa-lg"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active-nav" id="nav-home" name="home">
                    <a class="nav-link">Home</a>
                </li>
                <li class="nav-item" id="nav-shopping" name="shopping">
                    <a class="nav-link">Shopping</a>
                </li>
                <li class="nav-item" id="nav-account" name="account">
                    <a class="nav-link">My account</a>
                </li>
            </ul>
          </div>

        </div>
    </nav>

    <div class="modal fade" id="enrollModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-title text-center">
                        <h4><i class="far fa-user mr-1"></i>Account</h4>
                    </div>
                    <div id="error-message" class="text-center pb-2 font-italic d-none"></div>
                    <div class="d-flex flex-column text-center">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" placeholder="Your username...">
                            </div>
                            <div id="username-error-message" class="pb-2 text-danger font-weight-bold d-none"></div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Your password...">
                            </div>
                            <div id="password-error-message" class="pb-2 text-danger font-weight-bold d-none"></div>
                            <div id="enroll-buttons" class="row d-flex justify-content-center mx-0">
                                <div class="col-sm-6 mx-0 p-1"><button type="button" class="btn btn-info btn-round" onclick="login();">Login</button></div>
                                <div class="col-sm-6 mx-0 p-1"><button type="button" class="btn btn-info btn-round" onclick="register();">Register</button></div>
                            </div> 
                        </form>
                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <div class="signup-section">Forgot password? <a class="text-info"> Reset now</a>.</div>
                </div>

            </div>
            
        </div>
    </div>
    
      

    <main class="container mt-3">
        <div class="sec" id="sec-home">
            <!-- Typing area -->
            <div id="word-board" class="bubbles"></div>
            <div id="typing-area">
                <input type="text" class="form-control" id="input" placeholder="Countdown starts when you begin to type!" 
                autocomplete="off" autocapitalize="off" autocorrent="off" onkeypress="pressKey(event, this);">
            </div>

            <!-- Controlling buttons -->
            <div id="controllers" class="row">
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="btn-group" role="group">
                        <button id="mode-button" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mode
                        </button>
                        <div class="dropdown-menu" aria-labelledby="mode-button">
                            <a class="dropdown-item" onclick="setMode(this)">White Collar</a>
                            <a class="dropdown-item" onclick="setMode(this)">Scientist</a>
                            <a class="dropdown-item" onclick="setMode(this)">Psychologist</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" onclick="reset()">Restart</button>
                </div>

                <div class="col-md-3 d-flex justify-content-center">
                    <div class="btn-group" role="group">
                        <button id="time-button" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="far fa-clock fa-lg"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="time-button">
                            <a class="dropdown-item" onclick="setTime(this)">15</a>
                            <a class="dropdown-item" onclick="setTime(this)">30</a>
                            <a class="dropdown-item" onclick="setTime(this)">60</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 d-flex justify-content-center">
                    <div class="btn-group" role="group">
                        <button id="theme-button" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Theme
                        </button>
                        <div class="dropdown-menu" aria-labelledby="theme-button">
                            <a class="dropdown-item" onclick="setBackground(this)">Covid-19</a>
                            <a class="dropdown-item" onclick="setBackground(this)">Snow</a> <!-- jquery or JS ???-->
                            <a class="dropdown-item" onclick="setBackground(this)">Rain</a>
                            <a class="dropdown-item" onclick="setBackground(this)">Galaxy</a>
                            <a class="dropdown-item" onclick="setBackground(this)">Ocean</a>
                        </div>
                    </div>
                </div>
                
            </div>
            

            <!-- Summary card -->
            <div id="summary" class="card chart-card border-success border-bottom-0">

                <!-- Content -->
                <div class="card-body pb-0 ">
                    <h3 class="card-title font-weight-bold text-justify text-center">Summary</h3>
                    <div class="text-center">
                        <p class="mb-1"><i class="fas fa-keyboard mr-2"></i>Words per minute: <span id="wpm" class="badge badge-success"></span></p>
                        <p class="mb-1"><i class="fas fa-bullseye mr-2"></i>Accuracy: <span id="accuracy" class="badge badge-info"></span></p>
                    </div>
                </div>

                <!-- Tabs -->
                <div class="classc-tabs">
                    <!-- Nav tabs -->
                    <ul class="nav tabs-white nav-fill" role="tablist">
                        <li class="nav-item ml-0">
                        <a class="nav-link waves-light font-weight-bold border-bottom border-success active" data-toggle="tab" href="#panel1" aria-selected="true" role="tab">Status<i class="fas fa-chart-line ml-2 text-danger"></i></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link waves-light font-weight-bold border-bottom border-success" data-toggle="tab" href="#panel2" role="tab">Missed words<i class="fas fa-times-circle ml-2 text-danger"></i></a>
                        </li>
                    </ul>

                    <div class="tab-content rounded-bottom bg-white">
                        <!--Panel 1-->
                        <div class="tab-pane fade in active show highlight" id="panel1" role="tabpanel">
                        <div id="lineChart"></div>
                        </div>
                        <!--/.Panel 1-->

                        <!--Panel 2-->
                        <div class="tab-pane fade align-items-stretch" id="panel2" role="tabpanel">
                        </div>
                        <!--/.Panel 2-->
                
                    </div>
                </div>
            </div>

        </div>

        <div class="sec" id="sec-shopping">
            <div id="carouselIndicators" class="carousel slide mb-5" data-ride="carousel" data-interval="4000">
                <ol class="carousel-indicators">
                  <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="../static/img/shopping/christmas.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../static/img/shopping/summer.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../static/img/shopping/black-friday.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
                <div class="col mb-4">
                  <div class="card">
                    <a href="" class="m-3"> <img src="" class="card-img-top img-fluid" alt="..."> </a>
                    <div class="card-body d-block">

                      <div class="d-inline">
                        <h6 class="card-title" style="float: left;"><span class="price">$99</span></h6>
                        <div style="float: right;">
                          <span class="badge badge-warning"><i class="fa fa-star"></i></span>
                          <span class="badge badge-info"><i class="fas fa-comment-dots"></i></span>
                        </div>
                      </div>  
                      <div style="clear: both;">
                        <p class="card-text">abc</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                      <a href="" class="m-3"> <img src="" class="card-img-top img-fluid" alt="..."> </a>
                      <div class="card-body d-block">
  
                        <div class="d-inline">
                          <h6 class="card-title" style="float: left;"><span class="price">$99</span></h6>
                          <div style="float: right;">
                            <span class="badge badge-warning"><i class="fa fa-star"></i></span>
                            <span class="badge badge-info"><i class="fas fa-comment-dots"></i></span>
                          </div>
                        </div>  
                        <div style="clear: both;">
                          <p class="card-text">abc</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col mb-4">
                    <div class="card">
                      <a href="" class="m-3"> <img src="" class="card-img-top img-fluid" alt="..."> </a>
                      <div class="card-body d-block">
  
                        <div class="d-inline">
                          <h6 class="card-title" style="float: left;"><span class="price">$99</span></h6>
                          <div style="float: right;">
                            <span class="badge badge-warning"><i class="fa fa-star"></i></span>
                            <span class="badge badge-info"><i class="fas fa-comment-dots"></i></span>
                          </div>
                        </div>  
                        <div style="clear: both;">
                          <p class="card-text">abc</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col mb-4">
                    <div class="card">
                      <a href="" class="m-3"> <img src="" class="card-img-top img-fluid" alt="..."> </a>
                      <div class="card-body d-block">
  
                        <div class="d-inline">
                          <h6 class="card-title" style="float: left;"><span class="price">$99</span></h6>
                          <div style="float: right;">
                            <span class="badge badge-warning"><i class="fa fa-star"></i></span>
                            <span class="badge badge-info"><i class="fas fa-comment-dots"></i></span>
                          </div>
                        </div>  
                        <div style="clear: both;">
                          <p class="card-text">abc</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col mb-4">
                    <div class="card">
                      <a href="" class="m-3"> <img src="" class="card-img-top img-fluid" alt="..."> </a>
                      <div class="card-body d-block">
  
                        <div class="d-inline">
                          <h6 class="card-title" style="float: left;"><span class="price">$99</span></h6>
                          <div style="float: right;">
                            <span class="badge badge-warning"><i class="fa fa-star"></i></span>
                            <span class="badge badge-info"><i class="fas fa-comment-dots"></i></span>
                          </div>
                        </div>  
                        <div style="clear: both;">
                          <p class="card-text">abc</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col mb-4">
                    <div class="card">
                      <a href="" class="m-3"> <img src="" class="card-img-top img-fluid" alt="..."> </a>
                      <div class="card-body d-block">
  
                        <div class="d-inline">
                          <h6 class="card-title" style="float: left;"><span class="price">$99</span></h6>
                          <div style="float: right;">
                            <span class="badge badge-warning"><i class="fa fa-star"></i></span>
                            <span class="badge badge-info"><i class="fas fa-comment-dots"></i></span>
                          </div>
                        </div>  
                        <div style="clear: both;">
                          <p class="card-text">abc</p>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>

            <div aria-label="Page navigation">
              <ul class="pagination pagination-circle justify-content-center pg-blue">
                
                <li class="page-item"><a class="page-link pagination-active">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item"><a class="page-link">4</a></li>
                <li class="page-item"><a class="page-link">5</a></li>
                
              </ul>
            </div>
            
            
            
        </div>

        <div class="sec" id="sec-account">
            <div class="card mx-auto" id="profile-card">
                <div class="card-header justify-content-center d-flex">
                    <img class="card-img-top p-3" src="/static/img/user.png" alt="Avatar">
                </div>
                <div class="card-body">
                    <h3 id="username-in-card" class="card-title text-center">USERNAME</h3>
                    <br>
                    <div class="d-flex">
                        <p>Time practiced</p>                      
                        <span id="time-practiced" class="badge badge-warning"></span>
                    </div>
                    <div class="d-flex">
                        <p>Overall wpm</p>                     
                        <span id="overall-wpm" class="badge badge-success"></span>
                    </div>
                    <div class="d-flex">
                        <p>Overall accuracy</p>
                        <span id="overall-acc" class="badge badge-info"></span>
                        <div class="progress">
                            <div id="overall-acc-bar" class="progress-bar bg-info progress-bar-striped progress-bar-animated"></div>
                        </div>
                        
                    </div>
                    <div class="d-flex">
                        <p>Recent wpm</p>                     
                        <span id="recent-wpm" class="badge badge-success"></span>
                    </div>
                    <div class="d-flex">
                        <p>Recent accuracy</p>
                        <span id="recent-acc" class="badge badge-info"></span>
                        <div class="progress">
                            <div id="recent-acc-bar"  class="progress-bar bg-info progress-bar-striped progress-bar-animated"></div>
                        </div>
                        
                    </div>
                    <div id="logout-button" class="d-flex justify-content-center">
                      <button class="btn btn-danger btn-round">Logout</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer></footer>

    <script type="text/javascript" src="static/js/word.js"></script>
    <script type="text/javascript" src="static/js/time.js"></script>
    <script type="text/javascript" src="static/js/results.js"></script>
    <script type="text/javascript" src="static/js/home.js"></script>
    <script type="text/javascript" src="static/js/account.js"></script>
    <script type="text/javascript" src="static/js/shopping.js"></script>
</body>
</html>