<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Typing Battle</title>
</head>
<body>
    <header class="container-fuild p-3 mb-3 bg-dark text-white">
        <h1>Typing Battle</h1>
        <p>Where keyboard cleaning kits are redundant.</p>
    </header>

    <main class="container">
        <div id="word-board" class="border"></div>
        <div id="typing-area">
            <input type="text" class="form-control" id="input" autocomplete="off" autocapitalize="off" autocorrent="off" onkeypress="pressKey(event);">
        </div>
        <div id="buttons">
            <button type="button" class="btn btn-danger">Mode</button>
            <button type="button" class="btn btn-primary" onclick="reset_words()">Reset</button>
            <button type="button" class="btn btn-warning">Time</button>
        </div>
    </main>

    <footer></footer>
    
    <script type="text/javascript" src="../scripts/home.js"></script>
</body>
</html>